{% extends "lectures2025/base.html" %}

{% block titulo %}
AÑADIR LIBRO
{% endblock titulo %}

{% block contenido %}
    <h1>Perfil de {{ lector }}</h1>
    <h2>Libros leídos:</h2>
    <ul>
        {% for llibre in llibres %}
            <li>
                {{ llibre }}
                {% if llibre.llib_portada %}
                    <img src="{{ llibre.llib_portada.url }}" alt="Portada de {{ llibre }}" style="max-height: 200px;"/>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock contenido %}
